@use "../../../../theme/index.scss" as *;
@use "../../../../theme/colors.scss" as *;
@use "../../../../theme/sizes.scss" as *;

.card {
  max-width: 350px;
  border-radius: 15px;
  box-shadow: $card-shadow;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  p {
    text-align: justify;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
  padding-block: 1.5rem;
}
