.faqQuestions{
  display: flex;
  flex-direction: column;
  padding: 0 6rem;
  color: $quinary-text;;
}

.faqQuestionsTitle {
  margin-bottom: 2rem;
  padding: 0 8rem;
}

@media (max-width: 720px) {
  .faqQuestions {
    padding: 0 0rem;
  }
  .faqQuestionsTitle {
    padding: 0 1rem;
  }
}