// Página
$page-inline-padding: 90px;
$page-block-padding: 36px;
$page-block-gap: 16px;

// Botones
$button-padding: 12px 24px;

// NavBar
$navbar-vertical-padding: 8px;
$navbar-horizontal-padding: 16px;
$navbar-actions-spacing: 32px;

// Card
$card-padding-inline: 30px;
$card-padding-block: 24px;
$card-gap: 16px;