@use "../../../../theme/index.scss" as *;
@use "../../../../theme/colors.scss" as *;

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(240, 240, 240, 0.8);
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.Container.hidden {
  opacity: 0;
  pointer-events: none;
}

.Spinner {
  color: $azul-2 !important;
  width: 4rem !important;
  height: 4rem !important;
}

.Inline {
  width: 2rem !important;
  height: 2rem !important;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.Inline.hidden {
  opacity: 0;
  pointer-events: none;
}
