@use "src/theme/spacings.scss" as *;

.tabsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: spacings(sm);
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: spacings(md);
}
