@use "src/theme/colors.scss" as *;
@use "src/theme/spacings.scss" as *;

.tabLabel {
    flex: none;
    text-align: center;

    background: transparent;
    border: none;
    cursor: pointer;
    padding: 1.2rem 6rem;
    font-size: 1rem;
    color: $secondary-text;
    margin-bottom: 0.5rem;;

    &:hover { color: $azul-6; }
}

.active {
    background-color: $verde-claro-2;
    border-radius: 0.4rem;
    color: $navbar-background;
    font-weight: 600;
}

/* MOBILE */
@media (max-width: 640px) {
  .tabLabel {
    flex: 1;                       /* cada tab ocupa mismo espacio */
    margin-inline: 0.25rem;        /* 4px entre ellas */
    padding-block: 0.5rem;         /* 8px arriba/abajo */
    padding-inline: 0.75rem;       /* 12px izq/der */
    font-size: 0.9rem;
  }
}